<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <style>
      * {
        margin: 0;
        padding: 0;
      }
      :root {
        --color1: #333;
        --color2: #ba8254;
        --color3: #ffbf00;
        --color4: #f8f9eb;
      }
      .navbar {
        position: fixed;
        top: 0;
        height: 15vh;
        width: 100%;
        display: flex;
        align-items: center;
        padding: 10px 0px;
        background-color: var(--color1);
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
        color: white;
        z-index: 100;
      }

      .navbar .logo {
        /* display: none; */
        height: 100%;
        margin: 0px 20px;
        position: absolute;
      }

      .navbar .logo img {
        height: 100%;
        width: auto;
        padding: 4px;
        object-fit: cover;
      }
      .navbar .title {
        /* position: relative; */
        width: 100%;
        text-align: center;
      }
      .navbar .title h1 {
        font-size: 2rem;
      }
      .navbar .title p {
        color: whitesmoke;
      }
      @media (width < 800px) {
        .navbar .title h1 {
          font-size: 4vw;
        }
      }
    </style>
  </head>
  <body>
    <nav class="navbar">
      <div class="logo">
        <img src="/asset/image copy.png" />
      </div>
      <div class="title">
        <h1>Kalyani Government Engineering College</h1>
        <p>Kalyani, West Bengal, India</p>
      </div>
    </nav>
  </body>
</html>
