<link rel="stylesheet" href="/css/student/home.css">

<nav>
    <span id="user">
        <div class="icon"><i class="fa-solid fa-user"></i></div>
        <p>
            <%= info.fullname %>
        </p>
        <a href="/">
            <i id="logout" class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </span>
</nav>