<link rel="stylesheet" href="/css/student/home.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css"
    integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<nav>
    <span id="user">
        <div class="icon"><i class="fa-solid fa-user"></i></div>
        <p>
            <%= info.fullname %>
        </p>
        <a href="/">
            <i id="logout" class="fa-solid fa-arrow-right-from-bracket"></i>
        </a>
    </span>
</nav>