#outer{
    display: flex;
    justify-content: center;
    justify-content: space-between;
    width: 70%;
    margin: auto;
    margin-top: 5rem;
}

.login{
    height: 17rem;
    width: 27rem;
    border: 2px solid black;
    border-radius: 2rem;
    text-align: center;
}