<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="/css/landinPage/signin.css">
    <title>Document</title>
</head>
<body>
    <i class="fa-solid fa-arrow-left"></i>
    <a href="/student/signin">
        <div id="outer">
        <div id="studentlogin" class="login">
        <h3>Student</h3>

            <i class="fa-duotone fa-thin fa-graduation-cap"></i>
        </div>
    </a>
        <a href="/teacher/signin">
            <div id="teacherlogin" class="login">
                <h3>Teacher</h3>

                <i class="fa-duotone fa-thin fa-person-chalkboard"></i>
            </div>
        </a>
    </div>
</body>
</html>
